Repository nishinohi/react-router-cloudflare-workers-template: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-linter, frontend-css-linter, frontend-formatter

frontend-linter:
  run: npx eslint --fix {staged_files} && git update-index --again
  skip:
  - merge
  - rebase

frontend-css-linter:
  run: npx stylelint --fix {staged_files} && git update-index --again
  skip:
  - merge
  - rebase

frontend-formatter:
  run: npx prettier --write {staged_files} && git update-index --again
  skip:
  - merge
  - rebase

[add] add vscode settings
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: frontend-formatter

[add] add Cloudflare D1
  .gitignore
  README.md
  app/model/d1client.server.ts
  app/routes/_index.tsx
  db/schema.ts
  db/seed/drop-all-table.sql
  drizzle-dev.config.ts
  drizzle-local.config.ts
  drizzle-prod.config.ts
  drizzle.config.ts
  drizzle/lib/util.ts
  package-lock.json
  package.json
  worker-configuration.d.ts
  wrangler.toml
Due: frontend-linter, frontend-formatter

[add] add auth by better-auth with D1
  .gitignore
  README.md
  app/lib/auth-client.ts
  app/lib/auth.server.ts
  app/model/d1client.server.ts
  app/routes/_index.tsx
  app/routes/api.auth.$.ts
  app/routes/login.tsx
  app/routes/logout.ts
  auth.config.ts
  db/schema.ts
  db/seed/drop-all-table.sql
  drizzle-local.config.ts
  drizzle-prod.config.ts
  drizzle/lib/util.ts
  package-lock.json
  package.json
  worker-configuration.d.ts
  wrangler.toml
Due: frontend-linter, frontend-formatter

[add] change session storage from D1 to KV
  app/lib/auth.server.ts
  worker-configuration.d.ts
  wrangler.toml
Due: frontend-linter, frontend-formatter

[add] add env to wrangler.toml for local and staging develop
  .gitignore
  README.md
  app/routes/_index.tsx
  drizzle-stg.config.ts
  drizzle/lib/util.ts
  package.json
  vite.config.ts
  worker-configuration.d.ts
  wrangler.toml
Due: frontend-linter, frontend-formatter

[add] add github actions
  .github/workflows/worker-deploy.yml
  app/routes/_index.tsx
Due: frontend-linter, frontend-formatter

[add] add run-name
  .github/workflows/worker-deploy.yml
Due: none

[add] add run-name
  .github/workflows/worker-deploy.yml
  vite.config.ts
Due: frontend-linter, frontend-formatter

Path conditions:
  frontend-linter: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  frontend-css-linter: any of: *.{css,scss}
  frontend-formatter: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
